<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>Резюме Ларькова Николая Алексеевича</title>
	<link rel="stylesheet" href="style/index.min.css">
</head>
<body>
	<header></header>
	<main></main>
	<footer></footer>
</body>
</html>